{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'accounts/generic.css' %}" rel='stylesheet' type='text/css'>
    <title>Edit Bio Information</title>
</head>
<body>
<div class="nav_bar">
            <ul class="nav_right">
                <li><a href="http://127.0.0.1:8000/accounts/logout/">Logout</a></li>
            </ul>
            <ul class="nav_links">
                <li><a href="{% url 'landing_page' %}">Homepage</a></li>
            </ul>
        </div>

		<div class="container">
			<div class="content">
				<h1>Edit Your Bio Information </h1>
				<h2>{{patient.user.get_full_name}}</h2>
				<form method="POST">
                    {% csrf_token %}
					{{bio_form.as_p}}
					<button type = "submit" class="save btn btn-default">Done</button>
				</form>
			</div>
		</div>
</body>
</html>