{% extends "admin/base_site.html" %}
{% block title %}Logs | Django site admin{% endblock %}
{% block content %}
    <div id="content-main" style="width: 600px;">
        <div id="content-related">
            <div class="module">
                <h2>Sorting</h2>
                <h3>Organize By</h3>
                <ul class="actionlist">
                    <li style="list-style-type: none;"><a href= "{% url 'log_index' %}" ><b>Time</b></a></li>
                    <li style="list-style-type: none;"><a href= "{% url 'log_sorted' 'type' %}" ><b>Type</b></a></li>
                    <li style="list-style-type: none;"><a href= "{% url 'log_sorted' 'user' %}" ><b>User</b></a></li>
                </ul>
            </div>
        </div>
        {% if sort == "user" %}
            <div class="module">
                {% for line in log %}

                        <table style="width: 100%;">

                            <caption>{% if line.0.1 != '0' %}
                                    {{ line.0.1 }}
                                {% else %}
                                    Anonymous user
                                {% endif %}
                            </caption>
                            <tbody>
                                {% for entry in line %}
                                    <tr>
                                        <td>{{ entry.0 }}</td>
                                        <td>{{ entry.3 }}</td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                {% endfor %}
            </div>
        {% elif sort == "type" %}
             <div class="module">
                {% for line in log %}
                    <table style="width: 100%;">
                        <caption>{{ line.0.2 }}</caption>
                        <tbody>
                            {% for entry in line %}
                                <tr>
                                    <td>{{ entry.0 }}</td>
                                    <td>{{ entry.3 }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        {% else %}
            <div class="module">
                <table style="width: 100%;">
                    <caption>Logs by Time</caption>
                    <tbody>
                        {% for line in log %}
                                <tr>
                                    <td>{{ line.0 }}</td>
                                    <td>{{ line.3 }}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}