{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'accounts/generic.css' %}" rel='stylesheet' type='text/css'>
    <title>Prescriptions Index</title>
</head>
<body>
        <!-- Navigation bar-->
		<div class = "nav_bar">
			<ul class = "nav_links">
				<a href="http://127.0.0.1:8000/accounts/profile/">Homepage</a><br>
				<a href="http://127.0.0.1:8000/accounts/logout/">Logout</a><br>
			</ul>
		</div>
        <div class="container" style="padding-bottom: 25px;">
            <div class="content">
                <h1>Prescriptions</h1>
                {% if can_remove %}
                    <a href="{% url 'add_prescription'%}">Add Prescription</a>
                {% endif %}
                <br>
                <h4>Prescription List:</h4>
                {% for prescription in p_list %}
                    *****************************<br>
                    Drug: {{prescription.drug}} <br>
                    Patient: {{ prescription.patient }} <br>
                    Dosage: {{prescription.dosage}}<br>
                    Instructions: {{ prescription.instructions }}<br>
                    Date Prescribed: {{prescription.date}}<br>
                    Doctor: {{prescription.doctor}}<br>
                    <p>{% if can_remove %}
                        <a href="{% url 'remove_prescription' pk=prescription.pk %}">Remove</a>
                    {% endif %}
                {% endfor %}</p>
                <br>*****************************<br>
            </div>
        </div>
</body>
</html>