html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(white 0%, #bbbbcc 100%);
}

.errorlist {
    text-shadow: 0px 0px 8px red;
}

.nav_bar {
    text-align: left;
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: rgba(180, 16, 16, .5);
    border-right: 1px solid rgba(140, 0, 0, .5);
}

.nav_bar li {
    list-style-type: none;
}

.nav_bar a {
    color: white;
}

.content {
    width: 700px;
    text-align: left;
    background-color: rgba(253, 253, 255, .33);
    margin: auto;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 25px;
    top: 25px;
    position: relative;
}


a {
    color: #bb0000;
}

#title {
    font-size: 70px;
    margin-bottom: 8px;
    font-family: Times New Roman, serif;
}

button, input[type="submit"] {
    color: white;
    background-image: linear-gradient(#fc0000, #dd0000);
    border: 1px solid #bb0000;
    border-radius: 10px;
    margin-bottom: 3px;
    padding: 2px;
}

button:hover, input[type="submit"]:hover {
    background-image: linear-gradient(#ff0000, #ee0000);
    border: 1px solid #cc0000;
}

button:active, input[type="submit"]:hover {
    background-image: linear-gradient(#dd0000, #fc0000);
}